[submodule "vim/pack/plugins/start/a"]
	path = vim/pack/plugins/start/a
	url = https://github.com/vim-scripts/a.vim
[submodule "vim/pack/plugins/start/minibufexpl"]
	path = vim/pack/plugins/start/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
