[submodule "vim/bundle/a"]
	path = vim/bundle/a
	url = https://github.com/vim-scripts/a.vim
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "vim/bundle/darcula"]
	path = vim/bundle/darcula
	url = https://github.com/vim-scripts/Darcula-Color-Scheme
[submodule "vim/bundle/fruidle"]
	path = vim/bundle/fruidle
	url = https://github.com/vim-scripts/Fruidle
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/vim-scripts/molokai
[submodule "vim/bundle/zenburn"]
	path = vim/bundle/zenburn
	url = https://github.com/vim-scripts/Zenburn
